.section-wrapper {
  .filter-buttons {
    margin: 10px;
    label {
      margin-bottom: 10px;
    }
    select {
      background-color: #e7e7e7;
      padding: 16px;
      border-radius: 6px;
      color: #000000;
    }
  }

  .lists {
    transition: 0.3s;

    a {
      text-decoration: none;
      color: black;
    }

    .list-element {
      .card {
        background: #ffffff;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        cursor: pointer;

        .doctor-name {
          font-size: 18px;
          font-weight: 600;
        }

        .doctor-address {
          font-size: 14px;
          color: gray;
        }

        .card-body {
          .title {
            color: gray;
          }

          p {
            margin-right: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            overflow: hidden !important;
            max-width: 95%;
            font-size: 15px;
          }
        }
        footer {
          font-size: 13px;
          margin-top: 10px;
        }
      }
    }
  }
}

.medical-detail__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .medical-hash {
    span {
      cursor: pointer;
      display: inline-block;
      padding: 2px 7px;
      border-radius: 5px;
      background-color: rgba($color: orange, $alpha: 0.6);
      color: white;
      font-size: 12px;
    }
  }

  .field-input {
    .data {
      font-size: 17px;
      color: gray;
      padding: 10px 0;
    }

    .gender {
      font-size: 13px;
      width: fit-content;
      padding: 5px 10px;
      border-radius: 8px;
      color: white;
    }

    .gender.male {
      background-color: green;
    }

    .gender-female {
      color: orangered;
    }

    .address {
      display: flex;
      align-items: center;
      position: relative;

      .dot {
        position: absolute;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: gray;
      }

      .address-data {
        padding-left: 20px;
      }
    }

    .time-data {
      display: flex;
      align-items: center;
      position: relative;

      .icon {
        position: absolute;
        left: 0;
      }

      .time {
        padding-left: 25px;
      }
    }
  }

  .group-field {
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #e8e8e8;

    .title {
      margin-bottom: 15px;
    }

    .data {
      padding: 0 0 10px 0;
      font-size: 14px;
    }

    .time {
      font-size: 14px;
    }
  }

  .number-data__pillar {
    background-color: white;

    .title {
      font-size: 17px;
      margin-bottom: 15px;
    }

    .data {
      padding: 0;
    }

    .content {
      display: block;
    }

    .number-data {
      text-align: center;
      color: white;
      font-size: 14px;
      padding: 2px 10px;
      border-radius: 20px;
    }

    .number-data.high {
      width: 75%;
      background-color: red;
    }

    .number-data.low {
      width: 20%;
      background-color: #61affe;
    }

    .number-data.normal {
      width: 60%;
      background-color: green;
    }
  }
}

.medical-item__wrapper {
  margin-bottom: 20px;
  display: flex;

  .medical-item__content {
    width: 70%;
  }

  .between {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    .line {
      width: 10%;
      border-radius: 5px;
      height: 100%;
      background-color: green;
    }
  }

  .medical-item__date {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    border: 1px solid lightgray;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);

    .element-date {
      text-align: center;
      font-size: 16px;

      div {
        color: gray;
      }

      span {
        font-size: 18px;
      }
    }
  }
}

.signature-confirm {
  width: 100%;
  input {
    width: 90% !important;
  }

  .signature-confirm-button {
    margin-top: 50px !important;
  }
}

.signature-title {
  margin-bottom: 20px;
}
