.sidebar__wrapper {
  position: fixed;
  left: 0;
  top: 15%;
  height: 80%;
  background-color: #29a9f5;
  border-radius: 0 6px 6px 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.33);
  z-index: 10;

  .sidebar__list-item {
    height: 100%;
    position: relative;
    padding-left: 10px;

    .sidebar__item {
      padding: 20px;
      cursor: pointer;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px 0 0 10px;
      transition: 0.2s;

      &:hover {
        transform: scale(1.05);
      }

      .sidebar__icon {
        color: #fff;
        width: 35px;
        height: 35px;
      }
    }

    .active-item {
      background-color: #fff;

      .sidebar__icon {
        color: #29a9f5;
      }
    }
  }
}
