#header {
  height: 10%;
  display: flex;
  align-items: center;

  .logo__wrapper {
    width: 68px;
    height: 68px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .header-submenu__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .header-submenu__item {
      margin: 0;
      color: #29a9f5;
      font-size: 16px;
      text-decoration: none;
    }

    .header-submenu__toggle {
      margin: 0;
      cursor: pointer;
      color: #29a9f5;
      font-size: 18px;

      &::after {
        display: none;
      }
    }
  }

  .header-navbar__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    flex: 0 0 100%;

    .header-navbar__item {
      text-align: center;
      color: #29a9f5;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.user-role__badge {
  padding: 4px 7px;
  border-radius: 5px;
  margin-right: 8px;
  color: white;
}

.user-role__badge.admin {
  background-color: rgb(171, 0, 0);
}

.user-role__badge.patient {
  background-color: #29a9f5;
}

.user-role__badge.doctor {
  background-color: green;
}

.user-role__badge.manager {
  background-color: #f26817;
}
