.medical-record__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #e5e5e5;
  position: relative;
  padding-bottom: 20px;
}

.new-medical-record__tab {
  margin-top: 40px;
  display: flex;
  border-radius: 20px;
  height: fit-content;
  background-color: white;
  box-shadow: 0 0.0625rem 0.2rem 0 rgba(0, 0, 0, 0.4);

  .tab__pane {
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
  }

  .active {
    background-color: #29A9F5;
    color: white;
    transition: 0.3s;
    transform: scale(1.05);
  }
}

.new-medical-record__form {
  position: relative;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 75%;
  min-height: 350px;
  box-shadow: 0 0.0625rem 0.2rem 0 rgba(0, 0, 0, 0.4);

  .next-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 4px 40px;
    margin-top: 40px
  }

  .field-input {
    margin-bottom: 20px;

    label {
      font-weight: 600;
    }
  }

  .nested {
    background-color: #F3F3F3;
    padding: 20px;
    border-radius: 12px;

    .secondary-title {
      margin-top: 8px;
      display: block;
      color: gray;
    }
  }
}

.medicine-form {
  min-height: fit-content;
}

.homepage__wrapper {
  display: flex;
  justify-content: center;

  .section-wrapper {
    padding-top: 40px;
    width: 75%;
  }
}

.medicalrecord__section {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;

  .section-header {
    padding: 15px;
    border-bottom: 1px solid rgba(142, 142, 142, 0.79);

    p {
      color: gray;
      font-size: 18px;
      font-weight: 600;
      margin: 0;
    }
  }

  .section-body {
    padding: 15px;
  }
}

.filters__section, .lists__section {
  height: 100%;
  position: relative;

  .btn-primary {
    font-size: 14px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 3px 30px;
  }
}

.medical-record-list__filter {
  height: 800px;
}
